fastapi
uvicorn[standard]
python-dotenv
requests
pyyaml
playwright
google-generativeai
Pillow
python-json-logger
aiokafka
prometheus-fastapi-instrumentator
prometheus-client
cachetools
pydantic-settings
tenacity
aiosqlite
